::-webkit-scrollbar{
  scrollbar-width: none;
}

.productDialog {
  user-select: none;
  overflow: visible;
  outline: none;
  border-radius: 0.5rem;
  width: 16rem;
  animation: fadeIn 0.5s;
  margin: auto;
}

.productDialog::backdrop {
  background: #184ca75a;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

#products-slider{
scrollbar-width: 10;
scrollbar-color: rdd;
}
#cartList {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translate(0, 100%);
  transition: transform 0.3s ease-in-out;
}

#cartList.openCart {
  transform: translate(0, 0);
}

#basket {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.5s ease-in-out;
}

#basket.animate-basket {
    box-shadow: 0 0 10px 10px rgba(34, 197, 94, 0.5);
}

#searchbar{
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.5s ease-in-out;

}

#searchbar.animate-searchbar {
    box-shadow: 0 0 10px 10px rgba(34, 197, 94, 0.5);
}
@media screen and (min-width: 1024px) {
  #cartList {
    width: max-content;
    height: 100%;
    transform: translate(100%, 0);
    top: 0;
    right: 0;
  }
  #cartList.openCart {
    right: 0;
    transform: translate(0);
  }
}
@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* @keyframes border-angle-rotate {
  from { --border-angle: 0deg; }
  to { --border-angle: 360deg; }
}

.animate-searchbar{
  --border-angle: 0deg;
--bg: #deeddd;
   animation: border-angle-rotate 5s infinite linear; 
   background: linear-gradient(white, white) padding-box,
      conic-gradient(
          from var(--border-angle),
          var(--bg) 50%,
        rgb(83, 245, 20)
        )
        border-box;
  border: 2px solid transparent;
} */



