@import 'tailwindcss';

@theme {
  --height-view: calc(100svh - 5rem);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility text-balance {
  text-wrap: balance;
}

@layer utilities {
  :root {
    --blue-50: 239 246 255;
    --blue-100: 219 234 254;
    --blue-200: 191 219 254;
    --blue-300: 147 197 253;
    --blue-400: 96 165 250;
    --blue-500: 59 130 246;
    --blue-600: 37 99 235;
    --blue-700: 29 78 216;
    --blue-800: 30 64 175;
    --blue-900: 30 58 138;
    --blue-950: 23 37 84;
  }

  html {
    font-family:
      Inter var,
      ui-sans-serif,
      system-ui,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}
