.quantity-container {
  z-index: 10;
  position: fixed;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--green-600);
  padding-inline: 0.75rem;
  text-align: center;
  color: var(--bg-white);
}

.product-dialog-button {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: transparent;
  outline: 1px solid transparent;
}

.product-dialog-button:focus-visible {
  outline-color: var(--blue-600);
}

.product-dialog {
  /* user-select: none; */
  overflow: visible;
  outline: none;
  border-radius: 0.5rem;
  width: 16rem;
  animation: fadeIn 0.5s;
  margin: auto;
  height: fit-content;
}

.product-dialog::backdrop {
  background: var(--bg-blue);
}

.product-dialog-close-icon {
  position: absolute;
  right: 0;
  transform: translate(1.5rem, -1.5rem);
  fill: var(--bg-white);
  font-size: 1.875rem;
  cursor: pointer;
}

.product-dialog-content {
  display: flex;
  height: min-content;
  width: 16rem;
  flex-direction: column;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.product-dialog-content .product-image-container {
  padding: 1.25rem;
}

.product-dialog-content .product-info {
  margin-bottom: 0.75rem;
}

.product-dialog-content .product-name {
  margin-bottom: 0.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #1e293b;
}

.product-dialog-content .product-brand {
  color: var(--text-slate-500);
}

.product-dialog-content .product-details {
  display: flex;
  justify-content: space-between;
}

.product-dialog-content .product-measure {
  font-size: 1rem;
  z-index: -10;
  color: var(--text-slate-500);
}

.product-dialog-content .product-price {
  font-weight: 600;
  white-space: nowrap;
  color: var(--text-slate-600);
}

.product-dialog-content .product-actions {
  display: flex;
  height: 4rem;
  flex-direction: column;

}

.product-dialog-content .product-actions .action-buttons {
  display: flex;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}

.product-dialog-content .product-actions .action-buttons .out-of-stock {
  font-weight: 600;
  color: var(--text-red-600);
}

.product-dialog-content .product-actions .action-buttons .quantity-display {
  display: grid;
  aspect-ratio: 1 / 1;
  width: 1.75rem;
  border-radius: 9999px;
  background-color: var(--bg-green-500);
}

.product-dialog-content .product-actions .action-buttons .quantity-display span {
  place-self: center;
  font-family: monospace;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--bg-white);
}

.product-dialog-content .product-actions .action-buttons .action-button {
  padding: 0.5rem;
}

.product-dialog-content .product-actions .action-buttons .action-button .icon {
  fill: #4b5563;
  transition: transform 0.3s;
  cursor: pointer;
}

.product-dialog-content .product-actions .action-buttons .action-button .icon:active {
  transform: scale(0.75);
}

.product-dialog-content .has-quantity {
  background-color: var(--bg-green-500);
}

.product-dialog-content .cero-quantity {
  background-color: var(--color-gray-400);
}

.basket-section {
  position: fixed;
  bottom: 0;
  margin: 0.5rem 0;
  transform: translateX(-50%);
  transition: left 0.5s ease-out;

}

.basket-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  background-color: var(--blue-100);
  padding: 0.25rem;
  font-size: 3.75rem;
  color: var(--blue-900);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.basket-container.animate-basket {
  animation: basket-bounce 0.5s;
}


/*-------------- SearchBar -------------*/

.search-bar {
  height: fit-content;
  background-color: var(--bg-white);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  max-width: 36rem;
  /* max-w-xl */
  z-index: 50;
  border-radius: 9999px;
  border: 2px solid var(--border-gray-200);
  padding-block: 0.5rem;
  /* py-2 */
}

.search-bar.animate-searchbar {
  animation: searchbar-animation 0.5s;
}

.search-bar input {
  width: 100%;
  outline: none;
  padding: 0 1.25rem;
  /* px-5 */
  background-color: transparent;
  font-size: 1.5rem;
  /* text-2xl */
}

.search-bar ul {
  position: absolute;
  top: 3rem;
  /* top-12 */
  left: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 24rem;
  /* max-h-96 */
  overflow-y: auto;
}

.search-bar ul .see-more {
  background-color: var(--bg-white);
}

.search-bar ul .see-more span {
  text-align: center;
  display: block;
  color: var(--text-blue-600);
  padding-block: 0.75rem;
}

.search-bar .no-results {
  position: absolute;
  background-color: var(--bg-slate-50);
  top: 3rem;
  /* top-12 */
  left: 0;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  /* p-4 */
  text-align: center;
  font-size: 1.125rem;
  /* text-lg */
}

.search-bar .icon {
  font-size: 2.25rem;
  /* text-4xl */
  padding-inline: 0.75rem;
  /* px-3 */
  color: var(--text-slate-600);
}

#product-list-item {
  position: relative;
  max-width: 100%;
  width: 100%;
}

#product-list-item:nth-child(odd) {
  background-color: var(--bg-slate-100);
}

#product-list-item:nth-child(even) {
  background-color: var(--bg-slate-50);
}

#product-list-item #product-info {
  display: flex;
  width: 100%;
  align-items: center;
}

#product-list-item #product-info #image {
  min-width: 4rem;
  /* min-w-16 */
}

@media(min-width:768px) {
  #product-list-item #product-info #image {
    min-width: 5rem;
    /* min-w-24 */
  }
}

#product-list-item #product-info #details {

  flex-direction: column;
  align-items: baseline;
  flex-grow: 1;
  max-width: 100%;
}

#product-list-item #product-info #details > * {

  margin-left: 0.5rem;
  margin-right: 0.5rem;
  
}

#product-list-item #product-info #details b {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#product-list-item #product-info #details span {
  font-size: 0.875rem; /* text-sm */
}

#product-list-item #product-info #details #out-of-stock {
  color: var(--text-red-600);
  font-weight: 600; /* font-semibold */
}

#product-list-item #product-info #price {
  margin: 0 0.5rem; /* mx-2 */
  white-space: nowrap;
  font-size: 0.875rem; /* text-sm */
}

@keyframes searchbar-animation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
}